
<div class="navbar">

    <div class="sideName">
      <a class="nav-link" routerLink="">
        <img src=".\assets\imgs\greenWorld.jpg" alt="greenWorld">
      </a>
      
        <p>Monterrey Green</p>
    </div>

    <div class="navButtons">
        <a class="nav-link" routerLink="HomePage">
          <button type="button" class="btn btn-primary">
              Home
          </button>
        </a>
        <a class="nav-link" routerLink="NewsPage">
          <button type="button" class="btn btn-primary">
            News
          </button>
        </a>
        <a class="nav-link" routerLink="ContactPage">
          <button type="button" class="btn btn-primary">
            Contact us
          </button>
        </a>
        <a class="nav-link" routerLink="">
          <button type="button" class="btn btn-primary">
            Blog
          </button>
        </a>
    </div> 
  

    <!-- <div class="hidebtn">
        <button type="button" class="btn btn-primary">
          icon
        </button>
    </div>

    <div class="hideButtons">
      <a class="nav-link" routerLink="HomePage">
        <button type="button" class="btn btn-primary">
            Home
        </button>
      </a>
      <a class="nav-link" routerLink="NewsPage">
        <button type="button" class="btn btn-primary">
          News
        </button>
      </a>
      <a class="nav-link" routerLink="ContactPage">
        <button type="button" class="btn btn-primary">
          Contact us
        </button>
      </a>
      <a class="nav-link" routerLink="">
        <button type="button" class="btn btn-primary">
          Blog
        </button>
      </a>
  </div> -->



</div>
