<div class="videoContainer">
    <img src="/assets/imgs/mty03.jpg" alt="mty-video" style="height: 200px; width: 300px;">
    <div class="infoVideo">
        <h4>Expertos Aseguran que ...</h4>
        <p>Nuevo León está en situación crítica en seguridad hídrica, 
            en pérdida de biodiversidad, en manejo de residuos y en calidad del aire, 
            asuntos que no se resolverán sin atenderlos con metas claras y sin que cambie 
            la cultura de la población sobre esos temas, alertaron expertos en el Foro 
            Nuevo León Mañana sobre Desarrollo Sustentable: Medio ambiente y cambio climático.</p>
    </div>
</div>

<div class="videoContainer">
    <img src="/assets/imgs/mty03.jpg" alt="mty-video" style="height: 200px; width: 300px;">
    <div class="infoVideo">
        <h4>Expertos Aseguran que ...</h4>
        <p>Nuevo León está en situación crítica en seguridad hídrica, 
            en pérdida de biodiversidad, en manejo de residuos y en calidad del aire, 
            asuntos que no se resolverán sin atenderlos con metas claras y sin que cambie 
            la cultura de la población sobre esos temas, alertaron expertos en el Foro 
            Nuevo León Mañana sobre Desarrollo Sustentable: Medio ambiente y cambio climático.</p>
    </div>
</div>

<div class="videoContainer">
    <img src="/assets/imgs/mty03.jpg" alt="mty-video" style="height: 200px; width: 300px;">
    <div class="infoVideo">
        <h4>Expertos Aseguran que ...</h4>
        <p>Nuevo León está en situación crítica en seguridad hídrica, 
            en pérdida de biodiversidad, en manejo de residuos y en calidad del aire, 
            asuntos que no se resolverán sin atenderlos con metas claras y sin que cambie 
            la cultura de la población sobre esos temas, alertaron expertos en el Foro 
            Nuevo León Mañana sobre Desarrollo Sustentable: Medio ambiente y cambio climático.</p>
    </div>
</div>