
<h1>Pasamos de esto a esto...</h1>
<div class="infoArea">
    <p>La ciudad de Monterrey a pesar de no ser de las ciudades mas verdes de
        l mundo, es una ciudad de actividad industrial que siempre se destaco 
        por tener un balance al magren encuanto a la contaminacion se refiere.
            En los ultimos anios con el exponencial crecimiento de la ciudad, 
            debido a las grandes oportunidades de trabajo que se generan en la 
            sultana del norte, el indice de contminacion ha ido creciendo
            saliendose muy por encima del margen que se tenia  en anteriores 
            anios. Tan solo en el anio 2023, el estado de Nuevo Leon enlisto a
            6 de las 10 ciudades mas contaminadas del mundo, que incluyen a 
            casi en su totalidad el area metropolitana de Monterrey.</p>
    <p>Un especialista asegura que los grandes factores de este nivel de cont
        aminacion son la gran actividad industrial y el que la ciudad de 
        Monterrey este rodeda de montanas. “Al ser una ciudad rodeada de
            ontanas hace que los contaminantes se concentren y no ciculen, y en 
            esta epoca del anio (invierno) se acentuen estos episodios de sta 
            calidad del aire extremadamente mala.
    </p>
    <div class="imgContainer">
        <img src="\assets\imgs\mty01.jpg" alt="mty01">
        <img src="\assets\imgs\mty02.jpg" alt="mty02">
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit adipisci sit cumque similique, veniam repudiandae quasi asperiores, modi alias ratione animi aliquid nisi velit quam harum totam esse corporis provident!
    Ullam, delectus iste quam eius est in optio eos, cupiditate recusandae dolorem voluptatum cumque minima repellendus quaerat laboriosam, quibusdam atque commodi! Excepturi inventore nihil error omnis fugiat non id neque.
    Corporis beatae omnis tenetur iusto mollitia error obcaecati commodi, dolore quis quisquam earum illo eum quidem repudiandae illum modi magnam vel odit unde porro! Quia asperiores reprehenderit alias enim sequi.
    Repellendus temporibus mollitia dolorum odit asperiores fuga ratione quas natus. Dolore aliquid modi quos eum sapiente quo sequi neque nemo, architecto nisi nobis placeat? Veniam, error. Vitae eligendi perspiciatis obcaecati!
    Excepturi illo temporibus non, incidunt error rerum minima dolore iste blanditiis! Nobis vitae amet accusantium praesentium odit ratione rerum! Eveniet perferendis quisquam sed pariatur at nisi quos in deleniti libero.
    Quia dolorum sequi itaque cumque facere adipisci molestias dolores? Impedit vero molestiae recusandae eveniet aspernatur quisquam doloribus sed ipsa et rerum fuga, perspiciatis consequuntur placeat nam temporibus, sequi sint doloremque.
    Magni quia, neque sequi quibusdam accusamus dignissimos illo quo officia quaerat eum esse omnis unde perspiciatis minus in ab dicta ducimus, earum est explicabo impedit. Nostrum minima rerum provident quibusdam.
    Soluta tempora perspiciatis dolore hic, quaerat necessitatibus odit saepe numquam iste nobis voluptates labore sit recusandae, accusantium accusamus laudantium impedit minima delectus. Sequi eum accusantium expedita. Magnam vitae accusamus iusto.
    Magni eum nulla molestiae est consectetur a aut voluptatem omnis expedita? Minima magni distinctio ullam expedita. Facilis iusto ullam voluptate atque reiciendis corrupti, vel et ipsum ex est quibusdam ducimus?
    Dolorem qui molestias, earum sequi asperiores aperiam saepe in odit. Temporibus sequi aut quae odio, distinctio ducimus voluptates repellat consequuntur autem ex sint consequatur suscipit soluta nobis ratione nulla. Aperiam.</p>
</div>
